html, body {
  margin: 0;
  padding: 0;
  height: 100vh,
}

* {
  font-family: 'Karla', sans-serif;
}

body {
  font-family: 'PT Sans';
  background: #ffffff;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

:global .header {
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-size: 36px;
  color: '#FAFAFA';
}

:global .header:visited {
  text-decoration: none;
}

:global .app-content{
  margin: 0 0 0 0;
  padding-top: 64px;
  padding-right: 20px !important;
  transition: padding-left ease-out 0.1s;
}

:global .app-content.expanded{
  padding-left: 300px;
  transition: padding-left ease-in 0.1s;
}

@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url('../assets/PT_Sans-Web-Regular.ttf')
}
