html, body {
  margin: 0;
  padding: 0;
  height: 100vh,
}

* {
  font-family: 'Karla', sans-serif;
}

body {
  font-family: 'PT Sans';
  background: #ffffff;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

:global .header {
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-size: 36px;
  color: '#FAFAFA';
}

:global .header:visited {
  text-decoration: none;
}

@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url('../assets/PT_Sans-Web-Regular.ttf')
}
